<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/questions.js' %}" defer></script>

    <title>Questions</title>
</head>
<body>
    <h1>Questions page</h1>
    <form action="{% url 'questions' %}" method="post">
        {% csrf_token %}
        <label for="question1">How much does the cloud weigh?</label>
        <input type="text" name="question1" id="question1">
        <label for="question2">What is the equivalent of gold in cryptocurrency?</label>
        <input type="text" name="question2" id="question2">
        <label for="question3">What is the worlds`s smallest island country?</label>
        <input type="text" name="question3" id="question3">
        <input type="submit" value="Submit">
</body>
</html>